body {
    background-image: url('../Imagenes/La-Julia_novillos-2.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Otra propiedad que puedes ajustar según tus necesidades */
    /* Otros estilos si los necesitas */
    margin: 0; /* Asegúrate de eliminar el margen predeterminado del cuerpo */
    height: 100vh;
    
}

#BtnAceptarLogIn {

    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}
    #BtnAceptarLogIn:hover {
        background: #006e52;
    }
#OuterBox {
    /* Establece un ancho máximo de 300 píxeles */
    justify-content: center;
    display: flex;
    
    align-items: center;
    
   
    
   
}
#txtNombreUsuarioLogIn {
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 56px;
    background: #008060;
}
    #txtNombreUsuarioLogIn:hover {
        border-bottom-color: rgba(0,0,0,.87);
        background: #00A77E;
    }

#txtNombreUsuarioLogIn:focus {
    border-color: #6200ee;
}

#txtPasswordLogIn {
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 56px;
    background: #008060;
}
    #txtPasswordLogIn:hover {
        border-bottom-color: rgba(0,0,0,.87);
        background: #00A77E;
    }

#txtPasswordLogIn:focus {
    border-color: #6200ee;
}
#txtNombreUsuarioLogIn::placeholder {
    color: #001812; /* Cambia el color del texto de ejemplo */
    font-style: italic; /* Establece el estilo de fuente a cursiva, por ejemplo */
    /* Otros estilos que desees aplicar */
}
.bx-envelope{
    font-size:52px;
}
.bx-lock-alt {
    font-size: 52px;
}







                         